.vs/Windows Debloat Project/FileContentIndex/3256e05d-51cb-4fc4-b478-66510fd6e2dd.vsidx
.vs/Windows Debloat Project/FileContentIndex/6e4cd029-9f5c-4810-95af-5f476798fc69.vsidx
.vs/Windows Debloat Project/FileContentIndex/73c91863-4ea9-4011-aa8b-7c11f2425fe4.vsidx
.vs/Windows Debloat Project/FileContentIndex/af209b93-6087-4632-ac09-a65d8124ad37.vsidx
.vs/Windows Debloat Project/FileContentIndex/cded6fe7-8da7-4444-9b21-7ebecd04e712.vsidx
.vs/Windows Debloat Project/v17/.suo
.vs/Windows Debloat Project/FileContentIndex/3650293c-f939-4d0b-9404-0ae9999c0540.vsidx
